server { 
    listen 80;
    server_name localhost;

    location /processor/ {
        proxy_pass ${PDF_PROCESSOR_URL};
    }

    location /extractor/ {
        proxy_pass ${PDF_EXTRACTOR_URL};
    }

    location /chat/ {
        proxy_pass ${CHAT_URL};
    }
}